html,body{
    height:100%;
    color: lightgreen;
  }

  aside#left{
    float:left; 
    width:15%; 
    height:70%;
  }
  section{
    float:left;
    width:60%;
    height:70%;
  }
  aside#right{
    float:right;
    width:22%;
    height:70%;
  }
  footer{
    clear:both;
  }
  a{color: lightgreen;
text-decoration: none;}
ul.nav{
  list-style: none;
  text-align: center;
  border-top:1px solid lightgreen;
  border-bottom: 1px solid lightgreen;
  padding: 10px 0;
}
ul.nav li{
display: inline;
padding: 5%;
}